mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}


.input-file {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

input[type='file'] {
  opacity: 0;
  width: 100%;height: 100%;
  position: absolute;
  top:0;
  left: 0;
}

